name: SonarCloud Analysis

on:
  push:
    branches:
      - dashboard
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: SonarQube Scan
        # Menggunakan action versi terbaru (v4)
        uses: sonarsource/sonarqube-scan-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=mufahm
            -Dsonar.projectKey=muFahm_smartclassroom
            -Dsonar.sources=.
            -Dsonar.verbose=true